.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Event figure,
  h5 {
    margin: 0 0;
  }
  
  .Going {
    color: #1fcf2e;
  }
  
  .Going:hover {
    color: #8c52ff;
  }
  
  .GoingOutline:hover {
    color: #1fcf2e;
  }